includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app/
        - database/seeders/
        - database/factories/
    excludePaths:
        - app/Console/Kernel.php (?)
    ignoreErrors:
        - '#PHPDoc tag @var#'
    reportUnmatchedIgnoredErrors: false
